[submodule "thirdparty/g2o"]
	path = thirdparty/g2o
	url = https://github.com/urbinn/g2o
[submodule "thirdparty/pybind11_opencv_numpy"]
	path = thirdparty/pybind11_opencv_numpy
	url = https://github.com/edmBernard/pybind11_opencv_numpy
